.TestimonialCard {
    position: relative;
    width: 100%; // Adjust width so three cards fit in a row
    height: 90%;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    /* Add smooth transition to the card itself */
    /* Optional for rounded corners */

    &:hover {
        transform: scale(1.05);
        /* Scale the card slightly on hover */
    }
}

.TestimonialImage {
    width: 100%;
    height: 100%;

    object-fit: cover;
    opacity: 1;
    transition: transform 0.3s ease;
    /* Smooth transition for image scaling */
}

.TestimonialTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: transform 0.3s ease;
    /* Smooth transition for title movement */
}

.TestimanialText {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20%;
    transform: translateX(-50%);
    width: 80%;
    font-size: 16px;
    color: white;
    z-index: 2;
    transition: transform 0.3s ease;
    /* Smooth transition for text movement */
}

.TestimonialCard:hover .TestimonialTitle {
    transform: translate(-50%, -20%);
    /* Move title upwards when card is hovered */
}

.TestimonialCard:hover .TestimanialText {
    transform: translateX(-50%) translateY(-20%);
    /* Move testimonial text upwards */
}

@media (max-width: 768px) {
    .TestimonialCard {
        width: 100%;
    }
}