.SecondFooter {
    position: relative;
    width: 100%;
    height: 45vh;
    margin: 7% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SecondFooter::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Dark overlay */
    z-index: 1;
    /* Above the image, behind content */
}

.bgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}



.SecondFooterElements {
    padding: 1%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    z-index: 2;
    // border: 1px solid red;
}

.SecondFooterElements img {

    // border: 1px solid blue;
    width: 12%;
    /* Adjust as needed */
    height: auto;
}