.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 158px;
    padding: 0 40px;
    background-color: transparent;

    position: relative;
    font-family: 'LemonMilk', sans-serif;
    font-weight: normal;
    transition: background-color 0.3s ease;
    position: absolute;
    z-index: 10;

    &:hover,
    &.menu-open {
        background-color: white;

        .menu li a {
            color: #883B36;
        }

        .icon {
            color: #883B36;
        }
    }
}

.leftNavBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    transition: background-color 0.3s ease;

    .logo {
        max-width: 284px;
        max-height: 100px;
        height: auto;
        object-fit: contain;
    }

    .menu {
        list-style: none;
        display: flex;
        gap: 20px;
        margin-top: 10px;
        padding: 0;
        position: relative;

        li {
            padding: 10px 15px;
            position: relative;

            a {
                text-decoration: none;
                font-size: 18px;
                font-weight: normal;
                color: white;
                transition: color 0.3s ease;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 5px;
            }

            /* Show submenu when hovering over menu item */
            &:hover .submenu {
                display: block;
            }

            .submenu {
                list-style: none;
                position: absolute;
                top: 100%;
                padding: 10%;
                left: 0;
                background: white;

                width: max-content;
                z-index: 5;
                display: none;
                /* Hidden by default */
                white-space: nowrap;
                z-index: 1000;
                border: 1px solid #883B36;
            }

            /* Ensure submenu remains visible when hovering over the submenu */
            &:hover>.submenu,
            .submenu:hover {
                display: block;
            }

            .submenu li {
                position: relative;

                /* Show nested submenu when hovering over submenu item */
                &:hover>.nested-submenu {
                    display: block;
                }

                .nested-submenu {
                    list-style: none;
                    position: absolute;
                    top: 0;
                    left: calc(110%);
                    padding: 0px 20px;
                    background: white;
                    padding: 10px;
                    width: max-content;
                    z-index: 100;
                    white-space: nowrap;
                    display: none;
                    /* Hidden by default */
                    z-index: 1000;
                    border: 1px solid #883B36;
                    font-size: 10px;
                }
            }
        }
    }
}

.rightNavBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    margin-left: auto;
    gap: 20px;

    .icon {
        font-size: 40px;
        cursor: pointer;
        transition: color 0.3s ease;
        color: white;
    }
}