$primary-color: #883B36;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footer {
    background-color: #a85c27;
    color: white;
    padding: 40px 5%;
    display: flex;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between; // Ensures equal spacing between sections
    position: fixed;
    /* Fixed position to the bottom of the viewport */
    bottom: 0;
    /* Align the footer at the bottom */
    left: 0;
    /* Ensure it stretches across the full width */
    width: 100%;
    /* Full width of the screen */
    z-index: 100;
    /* Ensure the footer appears above content */
}